@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
/* Шрифты */

html {
    background-color: #2a2c2f;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.page {
    max-width: 560px;
    margin: 0 auto;
}

.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a2c2f;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: .5s ease;
}

.popup_opened {
    visibility: visible;
    opacity: 1;
}

.popup__content {
    box-sizing: border-box;
    padding: 0 40px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.popup__title {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
}

.popup__close-btn {
    box-sizing: border-box;
    margin-top: 20px;
    padding: 15px 0;
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: transparent;
    outline: none;
    transition: .2s ease;
}

.popup__close-btn:hover {
    color: #1dd1a1;
    border-color: #1dd1a1;
    cursor: pointer;
}

.header {
    padding: 40px 0;
}

.header__title {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
}

.game {
    display: flex;
    justify-content: space-between;
}

.game__config {
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.game__cards-count {
    margin: 0;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
}

.game__form {
    margin-top: 20px;
}

input[type=range] {
    margin: 0 0 20px 0;
    width: 100%;
    outline: none;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 2px;
    background-color: #1dd1a1;
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -11px;
    width: 24px;
    height: 24px;
    background-color: #1dd1a1;
    border-radius: 50%;
    transition: .2s ease;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb:hover {
    transform: scale(1.4);
    cursor: pointer;
}

.game__result {
    box-sizing: border-box;
    padding: 15px;
    max-width: 250px;
    border: 2px solid #fff;
    border-radius: 4px;
}

.game__result_place_popup {
    margin-top: 20px;
}

.game__result_place_popup p {
    text-align: left;
}

.game__result h2 {
    margin: 0 0 20px 0;
}

.game__result p {
    margin: 0 0 10px 0;
    font-weight: 500;
}

.game__result p:last-child {
    margin-bottom: 0;
}

.color-accent {
    color: #1dd1a1;
}

.text-accent {
    font-weight: 700;
}

.game__start-btn {
    box-sizing: border-box;
    margin-top: 20px;
    padding: 15px 0;
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: transparent;
    outline: none;
    transition: .2s ease;
}

.game__start-btn:hover {
    color: #1dd1a1;
    border-color: #1dd1a1;
    cursor: pointer;
}

.cards {
    padding-top: 40px;
}

.cards__item {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    transition: .8s ease;
}

.cards__item_active {
    transform: rotateY(180deg);
}

.cards__item_picture {
    background-color: #c8d6e5;
}

.cards__item:hover {
    cursor: pointer;
}

.cards__list {
    list-style-type: none;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 100px);
    gap: 15px;
    margin: 0;
    padding: 0;
}

.cards__item_disabled {
    pointer-events: none;
    opacity: 0.15;
    transform: scale(.8);
}

.footer {
    padding: 40px 0;
}

.footer__copyright {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: rgba(255, 255, 255, .5);
    text-align: center;
}